@import './componentes/navigation.css';
@import './componentes/contenedor.css';
@import './componentes/alerta.css';
@import './componentes/modal.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: var(--fondo) !important;
}

h1, h2, h3, h4, h5, h6, button{
    font-family: Voltaire, sans-serif;
}

p{
    font-family: Dosis, sans-serif;
}

.image-container {
    width: 100%;
    height: 150px;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.imagen-clase {
    width: 100%;
    height: auto;
    object-fit: cover;
}
