.contenedor{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: -4px 8px 10px #398D99;
}

.custom-svg{
    color: #398D99 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.imagen-profesor-admin{
    width: 90px;
    height: 90px;
    margin-top: 40px
}

.imagen-profesor{
    width: 90px;
    height: 90px;
    margin-top: 25px
}

.image-overlay {
    position: relative;
    top: -150px !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 530%; /* Ensure it doesn't exceed container's height */
    max-width: 200px; /* Ensure it doesn't exceed container's width */
    box-shadow: -4px 8px 20px #398D99;
}

.descripcion-show{
    text-align: center;
    padding: 20px;
    line-height: 1.5;
}

.titulo{
    margin-bottom: 150px;
}

.titulo2{
    margin-bottom: 150px !important;
}

.tit{
    font-size: 50px;
}


.image-overlay-clase-container {
    position: relative;
    top: -150px !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; /* Ensure it doesn't exceed container's height */
    max-width: 700px; /* Ensure it doesn't exceed container's width */
    box-shadow: -4px 8px 20px #398D99;
}

.image-overlay-clase{
    position: relative;
    top: -100px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.show {
    position: relative;
    top: -100px !important;

}

.profesor>h2, .horario>h2{
    font-size: 40px;
}

@media screen and (max-width: 1170px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .tit{
        font-size: 30px;
    }

    .profesor>h2, .horario>h2{
        font-size: 35px;
    }

    .profesor{
        margin-top: 40px;
    }

    .image-overlay-clase{
        top: 0px;
    }

    .imagen-profesor{
        width: 100px;
        height: auto;
    }
}
