.contenedor{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: -4px 8px 10px #398D99;
}


.button {
    position: relative;
    overflow: hidden;
    padding: 10px !important;
    border-radius: 20px !important;
    width: 100% !important;
    color: white;
    text-align: center;
}

.button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -110%;
    width: 200%;
    height: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 12px 1px rgb(255, 255, 255);
    transform: rotate(45deg);
}

.button:hover::before {
    animation: shimmer 1s linear ;
}

@keyframes shimmer {
    0% {
        transform: translateX(0%) rotate(45deg);
    }
    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

.button:hover {
    color: white !important;
    font-weight: bold !important;
}

.custom-svg{
    color: #398D99 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.imagen-profesor-admin{
    width: 90px;
    height: 90px;
    margin-top: 40px
}

.imagen-profesor{
    width: 90px;
    height: 90px;
    margin-top: 25px
}
