#popup-modal {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#popup-modal .relative {
    z-index: 10 !important; /* Ensure the modal content is above the overlay */
}

#popup-modal .bg-black {
    position: absolute !important;
    z-index: 5 !important; /* Ensure the overlay is below the modal content */
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5)!important;
}

#modal-profesor {
    align-items: center !important;
    justify-content: center !important;
}

#modal-profesor .relative {
    z-index: 10 !important; /* Ensure the modal content is above the overlay */
}

#modal-profesor .bg-black {
    position: absolute !important;
    z-index: 5 !important; /* Ensure the overlay is below the modal content */
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5)!important;
}

#imageModal {
    display: none;
}

.modal-borrar>h2{
    font-size: 40px;
}

.modal-borrar>p{
    font-size: 30px;
}

@media screen and (max-width: 640px){
    .modal-borrar>h2{
        font-size: 30px;
    }

    .modal-borrar>p{
        font-size: 20px;
    }
}
