.login{
    font-weight: 500;
    border-radius: 10px;
    padding: 10px !important;
    font-size: 20px;
}

.login:hover{
    font-weight: bolder !important;
}

.logo{
    width: 100px;
    height: 100px;
}

.active-link{
    font-weight: 500;
    text-decoration: none;
}

.active-link:hover{
    font-weight: bold !important;
}

.link{
    font-weight: bold;
}

.label {
    transition: all 0.3s;
    position: absolute;
    top: 10px;
}

.label-focused {
    top: -10px;
}

.input-focused {
    outline: none;
}

.login {
    position: relative;
    overflow: hidden;
    padding: 10px !important;
    border-radius: 20px !important;
    width: 100% !important;
    color: white;
    text-align: center;
}

.login::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -170%;
    width: 200%;
    height: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 12px 1px rgb(255, 255, 255);
    transform: rotate(45deg);
}

.login:hover::before {
    animation: shimmer 0.5s linear ;
}

@keyframes shimmer {
    0% {
        transform: translateX(0%) rotate(45deg);
    }
    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

.login:hover {
    color: white !important;
    font-weight: bold !important;
}
